body{margin: 0;padding:0;background-color:#F9F9F9; font-family: 'Roboto', sans-serif;}

h5{
  color: #2c3133;
  margin-left: 4%;
  margin-top:20px;
  margin-bottom: 20px;
}
.borderb{
 border: 0.3px solid black
}
/* MESSAGES */
.error{
  background:#FED2D3;
  color:rgb(218, 72, 72);
  padding: 0.5em 1em;
  text-align: center
}
.success{
  background:#D4FECC;
  color:rgb(16, 83, 16);
  padding: 0.5em 1em;
  text-align: center
}

/* LOGIN PAGE */
.login_container{}
.loginbody{background-color: #343A40;}
.login_box{width: 20%;margin:auto;margin-top:50px;color:white;}
.login_box form label{color:white;}
.imaginet_gold_login{
  width: 100%;
  color: white;
  background-color: #CF772B;
  border:0;
  height: 40px;
  margin-top:10px;
}
.login_box .login_logo img{width: 50%;margin-left:25%;margin-bottom: 10px}
.nav-img img{width:35%;margin-top:10px;margin-left: 30%;margin-bottom: 10px}
.sidebar{color: #fff;height:620px;}
.content{margin-top:-21px;width: 85%;margin-left:15%;}
.sidebar{
    background: #343A40;
    width: 15%;
    left:0;
    top:0;
    position: fixed;
}
.sidebar ul {list-style: none;margin: 0;padding: 0; }
.sidebar ul li{padding: 0.5em 0em;}
.sidebar li a {
    color: #AEB2B3;
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
    height: 25px;
    display:block;
    position:relative;
    margin-left:10%;
}
.sidebar li a .nav-icon {font-size:0.8em;height: 25px;left:2px;top:90%;margin-top:0px}
.sidebar li a .nav-title {font-size:0.8em;width:60%;position:absolute;margin-left:10px;top:50%;margin-top:-7px }
.sidebar li .nav-right-icon {
    height: 10px;
    position:absolute;right:10px;top:50%;margin-top:-1px;
    transform: rotate(90deg);
    /* -ms-transform:      rotate(90deg);
    -moz-transform:     rotate(90deg);
    -webkit-transform:  rotate(90deg);
    -o-transform:       rotate(90deg); */

}

/* ACTIVE MENU CSS */
.sidebar ul .active{background-color:RGBA(0, 0, 0, .38);}
.sidebar .active a {color: #CF772B;}
.sidebar ul li:hover {background-color:RGBA(0, 0, 0, .38);color: white;}

/* DROPDOWN MENU STYLE */
.sidebar-tree-menu{ background-color: RGBA(255,255,255,.2);display: none;transition: all 2.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;}
.sidebar-tree-menu li a{
color: #AEB2B3 !important;
font-size: 0.8em;
margin: 0;
cursor: pointer;
text-decoration: none;
height: 10px;
display:block;
position:relative;
margin-left:23%;
}


/* Navbar */
.navigation-menu{/* float:right; */background: #fff;overflow:hidden;font-size:10px;padding: 1em 2em 0 0; height: 50px;}
.navigation-menu ul{list-style:none;overflow:hidden}
.navigation-menu ul li{float:right;margin-left:10px;overflow:hidden;cursor:pointer}
.navigation-menu ul .logo img{width:30px;}
.navigation-menu ul li a{text-decoration:none;font-weight:bold;font-size:1.4em;color:#000;padding:10px;display:inline-block;white-space:nowrap}
/* .navigation-menu ul li:hover{background-color:#1A445D;border-radius:5px} */
.selected .navigation-menu ul li{background-color:#1A445D}


/* HOMEPAGE */
.home-table-left, .home-table-right{padding: 0 1em;width:50%}
.home-table-left h5, .home-table-right h5{margin-left: 0}
.card_numbers{
  width:25%;
  background-color: #fff;
  margin-left: 1%;
  margin-right: 1%;
  margin-top:10px;
  margin-bottom:20px;
  padding: 1em 2em;
}
.card_graphs{
  width:50%;
  background-color: #fff;
  margin-left: 1%;
  margin-right: 1%;
  margin-top:10px;
  margin-bottom:20px;
  padding: 1em 2em;
  height: 300px;
}
.card_numbers p{ font-size:0.7em}
.card_numbers h2{color:#8B9192; font-weight: bolder}
.card_numbers p a{text-decoration: none; color:#CF772B;}
/* Domains page */


/* Filters menu */

.page-filtering{
  display: flex;
  /* padding: 10px; */
  margin-top:20px
}
.page-filtering .name{
  /* padding: 10px; */
  margin-left:10px;
}
.page-filtering .name input{
   height: 35px;
   width:150px;
   margin-left:10px;
   border: 1px solid #7F7F7F;

}
.page-filtering .box{
 padding: 10px;
 margin-left: 60px;
 margin-top: 11px;
 transform: translate(-50%, -50%);
}
/* dropdown CSS */
.page-filtering .select-style{
  /* margin-top: 10px; */
  margin-left: 10px
}
.page-filtering .select-style select{
  width: 150px;
  height: 35px;
  border: 1px solid #7F7F7F;
}
.page-filtering .btn{
  padding: 0
}
.page-filtering .btn button{
  background-color: #343A40;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 35px;
  width:150px;
  margin-left:10px
}


.page-header, .page-body{padding: 0 2em; margin-top:20px}
.page-header .page-title{color:#343A40;font-weight: bold;}
.page-header .page-top-buttons .dark-grey-large-btn, .dark-grey-large-btn{
    width:120px;
    height: 30px;
    background-color:#343A40;
    color:#fff;
    border:0;
}
.dark-grey-large-btn a {text-decoration: none; color:white}
.page-header .page-top-buttons .dark-grey-large-btn a{text-decoration: none; color:white}
.stripped-table {border-collapse: collapse;width: 100%;}
.stripped-table th{color:#CF772B;text-align: left;padding: 5px; font-weight: lighter; font-size: 15px}
.stripped-table td {text-align: left;padding: 10px;color:#343A40;font-size:0.8em;}
.stripped-table tr:nth-child(odd) {background-color: #fff;}
.stripped-table th a, .stripped-table tr td a{text-decoration: none; color:#343A40}
.stripped-table tr td .expiringdomainlink{color:greenyellow}
.stripped-table .okaydomainlink{color: green}
.stripped-table .expireddomainlink{color:rgb(199, 51, 51)}
.stripped-table .expiresoonlink{color:rgb(234, 182, 26)}

/* INFO VIEW PAGES */
.info-view-wrapper{display:flex;padding:0em 2em}
/* .info-view-wrapper h5{margin-top:10px;margin-bottom: 20px; font-weight: bolder} */
.info-view-left{width: 70%;padding:0.5em 2em;}
.info-view-right{width: 30%;padding:0.5em 2em; }
.info-view-right ul{list-style: none;margin: 0;padding: 2em 2em;background-color: #fff }
.info-view-right ul li{padding: 0.5em 0em};
.info-view-right ul li:hover{ background-color: antiquewhite}
.info-view-right ul li a{
    color: #CF772B;
    font-size: 1em;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    height: 25px;
    display:block;
    font-weight: bolder;
    text-underline-position: below
}


/* domain view */
.billing_info_card{padding:0em 4em}
.billing_info_card h5{margin-top:10px;margin-bottom: 20px;font-weight: bolder}
.billing_info_card h6{margin-top:20px;margin-bottom: 20px;font-weight: bolder}
.billing_info_card .stripped-table td {font-size:0.8em;padding: 3px}
.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {background: #06D85F;}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {visibility: visible;opacity: 1;}
.popup {
  margin: 0px auto;
  /* padding: 20px; */
  background: #fff;
  border-radius: 5px;
  width: 60%;
  height: 630px;
  position: relative;
  transition: all 5s ease-in-out;
}

.invoice_view{
  margin-top:70px;
  width: 80%;
}

.popup h5, .invoice_view h5 {margin-top: 0;color: #333;font-family: Tahoma, Arial, sans-serif;text-align: center}
.popup .close {
  position: absolute;
  top: 5px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {color: #06D85F;}
.popup .content, .invoice_view .content {
  margin-left: 0%;
  max-height: 85%;
  overflow: auto;
  display: block;
  width: 100%;
  padding:0.3em 2em;
  margin-top: 10px;
  margin-bottom: 10px;
}
.popup .content .invoice-logo img{width:10%;background:black;margin-left: 47%;}
.popup .content .invoice-header{display: flex;}
.popup .content .invoice-header .company-info{width: 50%;justify-content: left; }
.popup .content .invoice-header .invoice-info {float:right;width: 50%}
.popup .content .invoice-header .company-info h5{font-size:0.8em;line-height: 1px;text-align: left; margin-top: 20px;margin-left:0;}
.popup .content .invoice-header .invoice-info h5{font-size:0.8em;line-height: 1px;margin-left: 40%;text-align: right;margin-top: 20px}

.popup .content .invoice-header .company-info p{font-size:0.6em;text-align: left;margin-left:0;line-height: 5px;}
.popup .content .invoice-header .invoice-info p{font-size:0.6em;line-height: 5px;margin-left: 40%;text-align: right;}


.popup .content .invoice-body, .popup .content .invoice-payment-details, .invoice-receiver-info{margin-top:50px;}
.popup .content .invoice-body .stripped-table tr th:first-child,.popup .content .invoice-body .stripped-table tr td:first-child
{text-align: left !important;
  }
.popup .content .invoice-body .stripped-table th,.popup .content .invoice-body .stripped-table td{text-align: right;}
.popup .content .invoice-body .stripped-table tr th{ background-color:rgb(76, 80, 85); color:#CF772B;}
.popup .content .invoice-payment-details h5, .popup .content .invoice-payment-details p, .popup .content .invoice-receiver-info p
{font-size:0.8em;line-height: 5px;}
.popup .content .invoice-receiver-info h5{font-size:0.8em;line-height: 1px;}
@media screen and (max-width: 700px){.box{width: 70%;}.popup{width: 70%;}}


  /* DOMAIN ADD */
.info-view-wrapper .domain_search_form{padding: 2em 10em;width: 100%;margin:1px red solid;}
.info-view-wrapper .domain_search_form form{display: flex;margin-bottom:50px}
.info-view-wrapper .domain_search_form form .search-input{width:400px;height: 40px;}
.info-view-wrapper .domain_search_form form select{margin-left:10px;width: 15%;height: 40px;}
.info-view-wrapper .domain_search_form form button{
  margin-left:10px;
  width: 20%;
  background: orange;
  color: white;
  background-color: #CF772B;
  border:0;
  height: 40px;
 }
.info-view-wrapper .domain_search_form #stripped-table-domain-av{width: 70%;}


.container-spinner {position: relative;height: 20px;margin-top:40px;display: block;}

.main {
position: absolute;
top: 40%;
left: 30%;
transform: translate(-50%, -50%);
width: 100px;
height: 100px;
border: 2px solid transparent;
border-radius: 50%;
}
.main:before {
position: absolute;
content: "";
width: 50px;
height: 50px;
border: 2px solid #CF772B;
border-radius: 50%;
border-block-end-style: hidden;
animation: spin 1.6s infinite linear;
}
@keyframes spin {to {transform: rotate(0deg);}from {transform: rotate(360deg);}}
@keyframes respin {to {transform: rotate(360deg);}from {transform: rotate(0deg);}}
